body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f7f6;
    color: #333;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    text-align: center;
    color: #4CAF50;
    margin-bottom: 20px;
}

.form-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.form-table td {
    padding: 15px;
    border: 1px solid #ddd;
}

.form-table label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

button {
    cursor: pointer;
    padding: 10px 15px;
    background-color: #4CAF50; /* Verde */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
    width: 100%; /* Botón ocupa todo el ancho */
}

button:hover {
    background-color: #45a049; /* Verde más oscuro al pasar el mouse */
}

table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #4CAF50; /* Verde */
    color: white;
}

th:hover {
    background-color: #45a049; /* Cambia el color al pasar el mouse */
}

td button {
    background-color: #f44336; /* Rojo */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

td button:hover {
    background-color: #d32f2f; /* Rojo más oscuro al pasar el mouse */
}
